*{
 box-sizing: border-box;   
}

.jsont {
    display: block;
    position: absolute;
    text-decoration: none;
    font-size: 35px;
    background-color: #CDCAC1;
    top: 0;
    right: 0;
    border-radius: 5px;
}

.countries {
    thead tr{
        text-align: center;
    }
    margin: auto;
    width: auto;
        td:nth-child(1){
        max-width: 100px;
    }
        td:nth-child(3){
        max-width: 200px;
    }
        td:nth-child(7){
        max-width: 200px;
        word-wrap: break-word;
    }
        td:nth-child(8){
        max-width: 200px;
        text-align: center;
    }

}

.load-countries{
    position: absolute;
    top: 0;
    margin: 0;
    font-size: 30px;
}

// .sorttable{
//     cursor: pointer;
// }

// .sorttable.active{
//     background: yellow;
// }

// .sorttable.active:not(.reverse){
//     content: 'Up';
// }

span {
    display: block;
    position: absolute;
    top: 40px;
    width: 156px;
    text-align: center;
}

select {
    position: absolute;
    top: 60px;
    width: 156px;
}

input {
    position: absolute;
    top: 80px;
    width: 156px;
}